.mood-button {
  display: inline-block;
  margin-top: 1vh;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: calc(1.5rem + 1.5vw);
  font-family: emoji;
}
.mood-button.selected {
  font-size: calc(1.5rem + 1.5vw) !important;
}

.mood-chooser hr {
  width: 100%;
  visibility: hidden;
}
