.message-input {
    align-items: center;
    width: 80%;
    height: 200px;
}

.messages-view-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages-view {
    width: 80%;
    height: 60%;
    min-width: 1200px;
    min-height: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: scroll;
    max-height: 70vh;
}

.user-message {
    color: grey;
    margin-left: 20px;
    margin-top: 20px;
}

.bot-message {
    color: rgb(201, 36, 36);
    margin-left: 20px;
}
